/* 
Orden para generar estilos en CSS
1. Posicionamiento
2. Modelo de caja 
3. Tipografia
4. Visuales (border, shadows)
5. Otros 
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-blue: #BBE1FA;
  --dark-blue: #0F4C75;
  --medium-blue: #3282B8;

}

html {
  font-size: 62.5%;
  font-family: 'Manrope', sans-serif;
}

main {
  display: grid;
  place-items: center;

}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.container-1 h1 {
  margin-top: 90px;
  font-size: 3.6rem;
}

.container-1 p {
  font-size: 1.8rem;
}

.container-2 input {
  margin-bottom: 10px;
  width: 312px;
  height: 62px;
  border-radius: 8px;
  border: none;
  padding: 0 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--light-blue);
  outline: none;
}

input::placeholder {
  color: white;
}

.intro-button {
  margin-top: 20px;
  width: 160px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--dark-blue);
  color: white;
  outline: none;
}

button:active {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.intro-button:hover {
  width: 180px;
  height: 60px;
  font-size: 25px;
}

.hide {
  display: none;
}

.transaction-form{
  display: grid;
}

.transaction-form h1 {
  margin: 35px;
  font-size: 3.6rem;
}

.form--userdata {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  justify-items: center;
  row-gap: 15px;
  font-size: 1.8rem;
}




.form--userdata__name {
  grid-column: 1 / 3;
}

.form--userdata__balance-value {
  font-weight: 700;
  color: var(--medium-blue);
}

.form--fields {
  display: grid;
  row-gap: 4px;
  align-items: center;
  margin-top: 25px;
  padding: 0 25px;
  font-size: 1.8rem;
  font-weight: 400;

}

.form--fields h2 {
  grid-column: 1 / 3;
  justify-self: center;
  padding-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 400;
}

.form--fields input {
  width: 150px;
  height: 30px;
  padding:0 10px ;
  border-radius: 8px;
  border: none;
  font-family: 'Manrope', sans-serif;
  outline: none;
  background-color: var(--light-blue);
  
}

.form--fields select {
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid var(--light-blue);
  font-family: 'Manrope', sans-serif;
  outline: none;
}

.form--fields button {
  grid-column: 1 / 3;
  justify-self: center;
}

.button-add {
  margin-top: 20px;
  width: 136px;
  height: 36px;
  border-radius: 30px;
  border: none;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: var(--dark-blue);
  color: white;
  outline: none;
}

.button-add:hover {
  width: 150px;
  height: 45px;
  font-size: 2.0rem;
}

.transaction-table {
  margin-top: 30px;
  width: 95vw;
  border-radius: 10px;
  box-shadow: 0px 4px 15px #BFBFBF;
  padding: 0 20px;
}

.transaction-table h3{
  padding: 60px 0;
  font-size: 1.6rem;
  font-weight: 400;
}

.transaction-table-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  justify-items: center;
}

.transaction-table--item {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--dark-blue);
}